<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                      http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0"
         metadata-complete="true">

    <servlet>
        <servlet-name>RegistrationServlet</servlet-name>
        <servlet-class>com.epam.library.servletsTwo.RegistrationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegistrationServlet</servlet-name>
        <url-pattern>/registrationServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.epam.library.servletsTwo.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/loginServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AllCustomersServlet</servlet-name>
        <servlet-class>com.epam.library.servletsTwo.AllCustomersServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AllCustomersServlet</servlet-name>
        <url-pattern>/allCustomersServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AllBooksServlet</servlet-name>
        <servlet-class>com.epam.library.servletsTwo.AllBooksServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AllBooksServlet</servlet-name>
        <url-pattern>/allBooksServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddCustomerServlet</servlet-name>
        <servlet-class>com.epam.library.servletsTwo.AddCustomerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddCustomerServlet</servlet-name>
        <url-pattern>/addCustomerServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddBookServlet</servlet-name>
        <servlet-class>com.epam.library.servletsTwo.AddBookServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddBookServlet</servlet-name>
        <url-pattern>/addBookServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RemoveCustomerServlet</servlet-name>
        <servlet-class>com.epam.library.servletsTwo.RemoveCustomerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RemoveCustomerServlet</servlet-name>
        <url-pattern>/removeCustomerServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>logoutServlet</servlet-name>
        <servlet-class>com.epam.library.servletsTwo.logoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>logoutServlet</servlet-name>
        <url-pattern>/logoutServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RemoveBookServlet</servlet-name>
        <servlet-class>com.epam.library.servletsTwo.RemoveBookServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RemoveBookServlet</servlet-name>
        <url-pattern>/removeBookServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CatalogServlet</servlet-name>
        <servlet-class>com.epam.library.servletsTwo.CatalogServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CatalogServlet</servlet-name>
        <url-pattern>/catalogServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddBookToCatalogServlet</servlet-name>
        <servlet-class>com.epam.library.servletsTwo.AddBookToCatalogServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddBookToCatalogServlet</servlet-name>
        <url-pattern>/addBookToCatalogServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>PrepareBooksToCatalogServlet</servlet-name>
        <servlet-class>com.epam.library.servletsTwo.PrepareBooksToCatalogServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PrepareBooksToCatalogServlet</servlet-name>
        <url-pattern>/prepareBooksToCatalogServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddBookToCartServlet</servlet-name>
        <servlet-class>com.epam.library.servletsTwo.AddBookToCartServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddBookToCartServlet</servlet-name>
        <url-pattern>/addBookToCartServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CartServlet</servlet-name>
        <servlet-class>com.epam.library.servletsTwo.CartServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CartServlet</servlet-name>
        <url-pattern>/cartServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>PrepareCartToOrderServlet</servlet-name>
        <servlet-class>com.epam.library.servletsTwo.PrepareCartToOrderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PrepareCartToOrderServlet</servlet-name>
        <url-pattern>/prepareCartToOrderServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RemoveCartBookServlet</servlet-name>
        <servlet-class>com.epam.library.servletsTwo.RemoveCartBookServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RemoveCartBookServlet</servlet-name>
        <url-pattern>/removeCartBookServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>com.epam.library.servletsTwo.SearchServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/searchServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>OrderServlet</servlet-name>
        <servlet-class>com.epam.library.servletsTwo.OrderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>OrderServlet</servlet-name>
        <url-pattern>/orderServlet</url-pattern>
    </servlet-mapping>




    <servlet>
        <servlet-name>NewJSP</servlet-name>
        <jsp-file>/NewJSP.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewJSP</servlet-name>
        <url-pattern>/newJsp</url-pattern>
    </servlet-mapping>




</web-app>